.navbar {
  background-color:  rgba(51, 51, 51, 0.6); /* Grey background color */
  overflow: hidden;
  margin-bottom: 20px;

}
body{
  background-image: url('../bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
/* Style for the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Style for the navigation bar links on hover */
.navbar a:hover {
  background-color: rgba(221, 221, 221, 1); /* Light grey background on hover */
  color: black;
}


h1 {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
  }

  /* Style for the form container */
  form {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }

  /* Style for form elements (labels and input fields) */
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  input[type="text"], textarea {
    width: 95%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Style for the submit button */
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Hover effect for the submit button */
  button[type="submit"]:hover {
    background-color: #0056b3;
  }