<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Get Started</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script type="text/javascript" src="{% static 'script.js' %}"></script>
</head>
<body>
    <div class="container" style="background-color: antiquewhite;">
        <h1 style = "color: black ;">Welcome! Let's Get Started</h1>
        <div class="options">
            <a href="recipe_search">
                <div class="option">
                    <img src="{% static 'option1.jpeg'%}" alt="Option 1">
                    <h2>Search Recipe</h2>
                </div>
            </a>
            <a href="create_recipe">
                <div class="option">
                    <img src="{% static 'option2.jpg'%}"  alt="Option 2">
                    <h2>Create Recipe</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
