<!-- <form method="post" action="{% url 'recipe_search' %}">
    {% csrf_token %}
    <fieldset>
      <legend>Select Ingredients:</legend>
      {{ form.ingredients.label_tag }}
      <ul>
        {% for ingredient in form.ingredients %}
          <li>
            <label>
              {{ ingredient.tag }} {{ ingredient.choice_label }}
            </label>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
    <button type="submit">Search</button>
  </form> -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles/recipe_search/styles.css' %}">
  <form method="post" action="{% url 'recipe_search' %}">
    {% csrf_token %}
    {{ form.ingredient_names.label_tag }}
    {{ form.ingredient_names }}
    <button type="submit">Search</button>
</form> 
  <div class = recipes>
  <ul>
    {% for recipe in recipes %}
    <style>
        ul {
            list-style-type: none;
        }
        .recipe-name{
            font-size: 25px;
            text-decoration: none;
        }

    </style>
    <li>
        <div style="display: flex; align-items: center;padding-bottom : 10px">
            <img src="{{ recipe.img_url }}" alt="{{ recipe.name }}" style="max-width: 100px;">
            <span style="margin-left: 20px;">
                <a href="{% url 'recipe_detail' recipe.id %}" class = 'recipe-name'>{{ recipe.name }}</a>
            </span>
        </div>
    </li>
    {% endfor %}
  </ul>
</div>