<form method="post" action="{% url 'recipe_search' %}">
    {% csrf_token %}
    <fieldset>
      <legend>Select Ingredients:</legend>
      {{ form.ingredients.label_tag }}
      <ul>
        {% for ingredient in form.ingredients %}
          <li>
            <label>
              {{ ingredient.tag }} {{ ingredient.choice_label }}
            </label>
          </li>
        {% endfor %}
      </ul>
    </fieldset>
    <button type="submit">Search</button>
  </form>
  
  <ul>
    {% for recipe in recipes %}
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <li>
        <div style="display: flex; align-items: center;">
            <img src="{{ recipe.img_url }}" alt="{{ recipe.name }}" style="max-width: 100px;">
            <span style="margin-left: 20px;">
                <a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.name }}</a>
            </span>
        </div>
    </li>
    {% endfor %}
  </ul>